.newEventModal, .deleteEventModal {
    z-index: 20;
    padding: 25px;
    background-color: white;
    box-shadow: 0 0 4px skyblue,
    inset 0 0 4px skyblue;
    border-radius: 2px;
    width: 350px;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    overflow: scroll;
    display: flex;
    flex-direction: column;
  }

  .modalBackDrop {
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.2);
  }

  .modalHeader {
    font-size: 40px;
    font-weight: 100;
    opacity: 0.7;
    letter-spacing: 4px;
  }

  .inputTitle {
    flex: 3;
    font-size: 14px;
  }

  .time {
    flex: 1;    
  }

  .timeLabel,
  .durationLabel {
    font-size: 18px;
    padding-right: 10px;
    font-weight: 200;
    opacity: 0.7;
  }

  .textArea,
  .textAreaNote,
  .textAreaReminder {
    width: 100%;
    border: none;
    margin-top: 5px;
    height: 180px;
    box-shadow: 0 0 4px lightskyblue;
    border-radius: 2px;
    padding: 5px;
    margin-right: 10px;
    resize: none;
    margin-bottom: 20px;
  }

  .textAreaNote {
      min-height: 500px;
      flex: 1;
  }

  .textAreaReminder {
    height: 50px;
  }

  .textArea:focus,
  .textAreaNote:focus,
  .textAreaReminder {
    outline: none !important;
    border:1px solid rgba(0, 255, 234, 0.699);
    box-shadow: 0 0 8px #71cebf8c;
}

  .eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
  }
  .eventTitleInput.error {
    border: 2px solid red;
  }
  .cancelButton, .deleteButton {
    background-color: white;
    box-shadow: 0 0 4px blueviolet;
    color: blueviolet;
  }
  .saveButton, .closeButton {
    background-color: white;
    box-shadow: 0 0 4px blueviolet;
    color: blueviolet;
  }

  .saveButton, .closeButton, .cancelButton, .deleteButton {
    font-size: 12px;
    margin: 2px;
  }

  .saveButton:hover, .closeButton:hover, .cancelButton:hover, .deleteButton:hover {
    opacity: 0.7;
  }

  .addMoreInfo {
    padding: 5px;
    background-color: white;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    color: rgb(72, 202, 202);
    text-shadow: 0 0 1px white;
    flex: 1;
  }

  .addMoreInfo:hover {
    cursor: pointer;
    color: rgb(110, 218, 218);
    
  }
