@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

  .backButton, 
  .nextButton {
    margin-right: 2.5px;
    margin-left: 2.5px;
    width: 50px;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0px;
    background-color: white;
    border-radius: 1px;
    color: lightskyblue;
    box-shadow: 0 0 4px lightskyblue;
    font-size: 13px;
  }
  
  .header {
    padding: 10px;
    color: #b66cd3;
    font-size: 26px;
    display: flex;
    justify-content: space-between;
  }

  .monthDisplay {
    text-align: center;
    flex: 1
  }

  .backButton:hover,
  .nextButton:hover {
    background-color: rgba(97, 241, 234, 0.281);
  }

  .container {
      flex: 1;
      font-family: "Poppins";
      margin: 10px;
  }
  
  .weekdays {
    width: 100%;
    display: flex;
    color: #000000;
    font-weight: 200;
  }

  .weekdays div {
    flex: 1;
    padding: 10px;
    opacity: 0.75;
    text-align: center;
    /* overflow: hidden; */
  }



  .calendar {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
  }

  h4 {
      font-weight: 200;
      font-size: 10px;
  }

  .day {
    padding: 5px;
    height: 90px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    /* margin: 1px; */
    box-shadow: 0px 0px 3px skyblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .day:hover {
    background-color: #2ffdd02f;
  }
  
  .day + .currentDay {
    background-color:#acff4e67;
  }

  .day + .isClicked {
    background-color:#2ffdd02f;
  }

  .event {
    font-size: 11px;
    padding: 3px;
    background-color: #2fb2e6ce;
    color: white;
    max-height: 55px;
    overflow: hidden;
    box-shadow: 0 0 2px #2fb2e6ce;
    margin-bottom: 1px;
  }

  .event p {
      font-weight: 300;
  }

  .padding {
    cursor: default !important;
    background-color: #FFFCFF !important;
    box-shadow: none !important;
  }
  .newEventModal, .deleteEventModal {
    z-index: 20;
    padding: 25px;
    background-color: white;
    box-shadow: 0 0 4px skyblue,
    inset 0 0 4px skyblue;
    border-radius: 2px;
    min-width: 300px;
    top: 0;
    right: 0;
    height: 100vh;
    position: absolute;
  }

  .modalHeader {
    font-size: 40px;
    font-weight: 100;
    opacity: 0.7;
    letter-spacing: 4px;
  }

  .inputTitle {
    flex: 3;
    font-size: 14px;
  }

  .time {
    flex: 1;    
    margin: 1px;
  }

  .timeLabel {
    font-size: 18px;
    padding-right: 10px;
    font-weight: 200;
    opacity: 0.7;
  }

  .textArea {
    width: 100%;
    max-width: 500px;
    border: none;
    margin-top: 5px;
    height: 100px;
    box-shadow: 0 0 4px lightskyblue;
    border-radius: 2px;
    padding: 5px;
    margin-right: 10px;
  }

  .textArea:focus {
    outline: none !important;
    border:1px solid rgba(0, 255, 234, 0.699);
    box-shadow: 0 0 8px #71cebf8c;
}

  .eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
  }
  .eventTitleInput.error {
    border: 2px solid red;
  }
  .cancelButton, .deleteButton {
    background-color: white;
    box-shadow: 0 0 4px blueviolet;
    color: blueviolet;
  }
  .saveButton, .closeButton {
    background-color: white;
    box-shadow: 0 0 4px blueviolet;
    color: blueviolet;
  }

  .saveButton, .closeButton, .cancelButton, .deleteButton {
    font-size: 12px;
    margin: 2px;
  }

  .saveButton:hover, .closeButton:hover, .cancelButton:hover, .deleteButton:hover {
    opacity: 0.7;
  }

 

  .modalBackDrop {
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.2);
  }

  @media (max-width: 750px) {
    .weekdays div {
      opacity: 1;
      font-weight: 200;
      font-size: 10px;
      align-self: auto;
    }

    h4 {
      font-size: 8px;
    }

    .event {
      font-size: 8px;
    }
  }